/* sidenav non-active */
.sidenav {
    background-color: #15023a;
    height: 35vh;
    border-radius: 1px 1px 200px 1px;
    transition: 1s;
    width: 8%;
    padding: 1%;
}

/* sidenav active */
.sidenav.active {
    transition: 1s;
    width: 24%;
}

.menu-bars {
    color: cyan;
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 300;
    background: none;
}

.sidenav-menu {
    background-color: #15023a;
    display: flex;
    justify-content: center;
    top: 0;
    position: relative;
    transition: 1s;
}

/* sidenav non-active */
.sidenav-menu-items {
    text-decoration: none;
    margin-left: -30pt;
    transition: 0.2s;
    opacity: 0;
}

/* sidenav active */
.sidenav-menu-items.active {
    transition: 3.5s;
    opacity: 1;
}

.sidenav-text {
    width: 110%;
    text-decoration: none;
    color: cyan;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 7px;
    list-style: none;
}

.sidenav-text:hover {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease-out;
}

.item-title, .item-icon {
    text-decoration: none;
    font-size: 20pt;
    font-weight: 350;
    color: cyan;
}

.item-title:hover {
    color: white;
    transition: all 0.3s ease-out;
}

.item-title:active {
    color: white;
}

Link, .link {
    color: cyan;
    text-decoration: none;
}

.fa-bars, .fa-times {
    font-size: 20pt;
    font-weight: 400;
    margin-left: -10px;
}

/* media queries here */
@media screen and (max-width: 1000px) {
    .sidenav {
        width: 100%;
        height: 100px;
        border-radius: 1px 1px 1px 1px;
    }

    .sidenav.active {
        width: 100%;
        height: 200px;
    }

    .sidenav-menu {
        width: 50%;
        height: 40px;
    }

    .sidenav-menu-items.active {
        margin-left: -50px;
    }

    .item-title {
        font-size: 14pt;
        
    }

    .fa-bars, .fa-times {
        margin-left: -20px;
    }
}