/* css for page elements starts here */
body {
    background-color: white
}

.page-header {
      padding: 1.4%;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      text-align: center;
      background-color: red;
      color: white;
      font-size: 26pt;
  }
  