.welcome-msg {
    text-align: auto;
    font-size: 70pt;
    font-weight: 700;
    margin-top: 150px;
    margin-bottom: 150px;
    color: white;
}

#welcome {
    max-height: 1000px;
}

@media screen and (max-width: 1250px) {
    #welcome {
        max-height: 1000px;
    }
}

@media screen and (max-width: 960px) {
    .welcome-msg {
        font-size: 40pt;
        margin-top: 160pt;
    }

    #welcome {
        max-height: 800px;
    }
}