.welcome-msg {
    text-align: auto;
    font-size: 70pt;
    font-weight: 700;
    margin-top: 150px;
    margin-bottom: 150px;
    color: white;
}

#welcome {
    max-height: 1000px;
}

#business, #philanthropy, #awards {
    padding: 3%;
    color: white;
    text-align: center;
}

#business, .bus-header {
    background-color: maroon;
}

#philanthropy, .phil-header {
    background-color: orangered;
}

#awards, .awards-header {
    background-color: orange;
}

.bus-header, .phil-header, .awards-header {
    position: -webkit-sticky;
    position: sticky;
    top: 27%;
    text-align: center;
    font-size: 45pt;
    font-weight: 700;
    height: 200px;
    padding-top: 50px;
}

@media screen and (max-width: 1250px) {
    #welcome {
        max-height: 1000px;
    }

    .bus-header, .phil-header, .awards-header {
        top: 20%;
    }
}

@media screen and (max-width: 960px) {
    .welcome-msg {
        font-size: 40pt;
        margin-top: 160pt;
    }

    #welcome {
        max-height: 800px;
    }

    .bus-header, .phil-header, .awards-header {
        font-size: 35pt;
        padding-top: 40px;
        top: 18%;
        height: 130px;
    }
}