.portfolio {
    padding: 4%;
}

.portfolio-container {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #15023a;
    padding: 0.3%;
    border-color: #15023a;
}

.inner-container {
    border-color: #15023a;
    max-height: 70vh;
    overflow-y: scroll;
    /* define grid here, for nav and page to render tidily */
    display: grid;
    grid-template-columns: auto 55%;
    grid-gap: 10px;
    column-width: auto;
}

/* media queries here */
@media screen and (max-width: 960px) {
    .inner-container {
        grid-template-columns: auto;
        max-height: 80vh;
    }
}