.portfolio {
    padding: 4%;
}

.portfolio-container {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #15023a;
    padding: 0.3%;
    border-color: #15023a;
}

.inner-container {
    border-color: #15023a;
    max-height: 70vh;
    overflow-y: scroll;
    position: relative;
}

#business, #philanthropy, #awards {
    /* grid here */
    display: grid;
    grid-template-columns: auto 75%;
}

@media screen and (max-width: 960px) {
    #business, #philanthropy, #awards {
        margin-top: 100px;
        grid-template-columns: auto;
    }
}