.welcome-msg {
    text-align: center;
    font-size: 65pt;
    font-weight: 700;
    margin-top: 60px;
}

#business, #philanthropy, #awards {
    /* grid here */
    margin-top: -150px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: auto 75%;
}

.header {
    text-align: center;
    margin-right: 300px;
    font-size: 40pt;
}

@media screen and (max-width: 960px) {
    .welcome-msg {
        font-size: 50pt;
        margin-top: 130pt;
    }

    #business, #philanthropy, #awards {
        grid-template-columns: auto;
        margin-top: 50px;
        text-align: center;
    }

    .header {
        font-size: 50pt;
        margin-top: -50px;
        margin-left: auto;
        margin-right: auto;
    }
}