.portfolio {
    padding: 4%;
}

@media screen and (max-width: 1420px) {
    .portfolio {
        height: 1200px;
    }    
}

.portfolio-container {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #15023a;
    padding: 0.3%;
    border-color: #15023a;
}

.inner-container {
    border-color: #15023a;
    background-image: linear-gradient(to left, rgba(76, 0, 130, 0.801), rgba(0, 0, 255, 0.801), rgba(0, 128, 0, 0.801), rgba(255, 255, 0, 0.801));
    min-height: 75vh;
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}