.contact {
    padding: 4%;
}

@media screen and (max-width: 1420px) {
    .contact {
        height: 1000px;
    }    
}
    
.contact-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact-items {
    padding: 3%;
    max-height: 50vh;
    min-height: 50vh;
    border-color: #15023a;
    background-color: rgba(187, 187, 187, 0.404);
}

.user-name, .user-email, .user-message {
    font-size: 18pt;
    padding: 0.6%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.user-message {
    height: 25vh;
}

.send-btn {
    width: 20%;
    position: relative;
    margin-left: 40%;
    margin-right: 60%;
    padding: 1%;
    font-size: 20pt;
    color: white;
    background-color: teal;
    border-color: teal;
    transition: 0.5s;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 2px 20px 0 rgba(0,0,0,0.19);
}

.send-btn:hover {
    transition: 0.6s;
    margin-left: 41%;
    margin-top: 1%;
}

@media screen and (max-width: 960px) {
    .contact-items {
        max-height: 60vh;
        min-height: 60vh;
    }

    .user-message {
        height: 30vh;
    }

    .user-message, .user-email, .send-btn {
        padding: 2%;
        font-size: 17pt;
    }

    .send-btn {
        width: 30%;
        margin-left: 35%;
    }
}